@*@model List<ProductViewModel>*@

<form asp-controller="Product" asp-action="Index">
    <div class="form-group">
        <input type="text" class="form-control"
               id="exampleInputPassword1"
               placeholder="Ürünlerde Ara..." name="search">
    </div>
    <button type="submit"
            class="btn btn-primary">
        <i class="fa fa-search"></i>
    </button>
</form>